.date
{
    margin-bottom: 0px;
}
*
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 24px;
}
button
{
    width: 160px;
    font-family: 'Times New Roman', Times, serif;
    color:brown;
    background: transparent;
    border: none;
    font-size: 30px;
    position: relative;
    height: 40px;
}

span
{
    display: inline;
    width: 30px;
}

.temp
{
    margin-top: 5px;
    
}
.card
{
    /* background-color: #FF9A8B;
background-image: linear-gradient(45deg, #FF9A8B 0%, #FF99AC 48%, #FF6A88 72%, #ffffff 98%); */
background-color: #FAACA8;
background-image: linear-gradient(45deg, #FAACA8 10%, #DDD6F3 64%, #ffffff 100%);

    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    border-radius: 20px;
        
}


.temp-div
{

    margin-top: 8px;
    margin-bottom: 0px;
}
.name
{
    font-size: 42px;
        color: #377D71;
}
.temp
{
    font-size: 52px;
    color: goldenrod;
    letter-spacing: 3px;
}
.date
{
    color: darkblue;
    margin-top: -20px;
}
.container
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
input
{
    height: 40px;
    border-radius: 20px;
    outline: none;
    font-size: 32px;
    color: #7895B2;
    text-align: center;
}
.text
{
    position: relative;
    margin-bottom: 10px;
}
body
{
    background: url("/images/default.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;

}
input::placeholder
{
    /* color: rgb(76, 221, 237); */
    color: #7895B2;
    font-weight: lighter;
    font-size: 23px;
    position: relative;
    left: 5px;

}
.city-details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
    
}
.city-details
{
    background-color: rgb(171, 216, 233);
}
input
{
    width: 330px;
}
#crt_temp
{
    font-size: 32px;
    margin-top: 15px;
}

.tempminandmax
{
    margin-top: 2px;
    font-size: 32px;
    color: #7D9D9C;
    font-family: 'Montserrat', sans-serif;
}